<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(href="./img/favicon.ico", rel="shortcut icon", type="image/vnd.microsoft.icon")
    title Aleksandr Kondratenko

  body
    //- include partials/header 
    div(class="container")
      div(class="hello-window")  
        p Hello!

        p
          | My name is Aleksandr Kondratenko.
          br
          | I am here to change the world.

        p Life is short, time is fast.
        br
        p
          | Feel free to contact me:  
          br
          a(href="mailto:aleksandr@kondratenko.ru") aleksandr@kondratenko.ru

      div(class="contacts")   
        p You can also find me on social media:

        p 
          a(href="https://vk.com/aakondratenko") VKontakte

        p
          a(href="https://facebook.com/aakondratenko") Facebook

        p
          a(href="https://linkedin.com/in/aleksandrkondratenko/") LinkedIn
          
    link(rel="stylesheet", href="./css/all.css")
    
